body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 150px; 
  display: flex;
  justify-content: center;
}

.main-container {
  text-align: center; 
  width: 584px;
}

.logo {
  width: 272px;
  margin-bottom: 25px;
}

.search-bar {
  display: block;
  width: 100%; 
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 24px;
  outline: none;
  margin-bottom: 20px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.15);
}

.search-bar:focus {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.google-button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #3c4043;
  padding: 8px 16px;
  font-size: 14px;
  margin: 11px 4px;
  border-radius: 4px;
  cursor: pointer;
}

.google-button:hover {
  border: 1px solid #dadce0;
  color: #202124;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}