body {
    font-family: calibri;
}

.container {
    height: auto;
    width: 400px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
}

.head {
    margin: 5px 14px;
    color: grey;
}

.email {
    display: flex;
    align-items: self-start;
    margin: 10px;
}

.profile {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 10px;
    display: flexbox;
}

.content {
    flex: 1;
    margin-left: 5px;
}

.sender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}

.name {
    font-weight: bold;
}

.time {
    color: grey;
    font-size: 13px;
    margin-right: 5px;
}

.message {
    color: grey;
}